@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);


body {
    background-color: hsl(30, 38%, 92%);
    width: 375px;
}
#all {
    width: 23rem;
    height: 40rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    left: 28rem;
}
#image {
    width: 23rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#paragraph {
    font-size: 1rem;
    width: 15rem;
    position: relative;
    left: 3rem;
    font-family: 'Fraunces', sans-serif;
    color: rgb(116, 116, 116);
}
#add_to_cart {
    width: 14rem;
    height: 4rem;
    position: relative;
    left: 4rem;
    top: -5rem;
    background-color: rgb(39, 107, 39);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1.5rem;
}
#good_price {
    position: relative;
    top: -1rem;
    left: 1.5em;
    color: green;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
#bad_price {
    position: relative;
    top: -5rem;
    left: 13rem;
    color: gray;
    text-decoration: line-through;
}   