@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

body {
    width: 1440px;
    background-color: hsl(30, 38%, 92%);
}
#all {
    background-color: white;
    width: 40rem;
    height: 30rem;
    position: relative;
    top: 2rem;
    left: 19rem;
    border-radius: 1rem;
}
#image {
    width: 20rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#header {
    width: 15rem; 
    position: relative; 
    top: -30rem; 
    left: 23rem; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-weight: bold;
}
#paragraph {
    position: relative;
    top: -28rem;
    left: 23rem;
    width: 17rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 500;
    color: rgb(177, 177, 177);
    font-size: 14px;
}
#good_price {
    position: relative;
    top: -28rem;
    left: 23rem;
    color: green;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
#bad_price {
    position: relative;
    top: -32rem;
    left: 33rem;
    color: gray;
    text-decoration: line-through;
}
#add_to_cart {
    width: 14rem;
    height: 4rem;
    position: relative;
    left: 23rem;
    top: -30rem;
    background-color: rgb(39, 107, 39);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1.5rem;
}
.attribution {
    position: relative;
    top: 5rem;
    font-size: 1rem;
}
